body{
    font-family: monospace;
    background-color: #253D5B;
    color: #969696;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

header{
    width: 100%;
    display: flex;
    background-color: #D8C99B;
    margin-bottom: 30px;
}

header a{
    width: 20%;
}

header nav{
    width: 80%;
   font-size: 15px;
}

header nav ul{
    list-style-type: none;
    width: 100%;
    color: azure;
    display: flex; 
}

body article section{
    text-align: justify;
}

section.text_one{
    background-color: #DBE4EE;
    color: #253D5B;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#id_example_one{
    background-color: #96897B;
    color: #253D5B;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

body footer {
    text-align: center;
}

